/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 52px;
}

#game-area1 {
    position: absolute;
    left: 1vw;
    border-style: solid;
    text-align: center;
    padding: 5px;
}

#game-area2 {
    position: absolute;
    right: 1vw;
    border-style: solid;
    text-align: center;
    padding: 5px;
}

button {
    font-size: large;
    position: relative;
    top: 29vh;

}

.automatic {
    font-size: large;
}

img {
    width: 35vw;
    height: 43vh;
    object-fit: contain;

}

.dice {
    font-size: large;
    padding: 10px;
}

.score-area {
    font-size: larger;
    padding: 10px;
}

#win {
    text-align: center;
    font-size: 52px;
    color: red;
}


/*style for screen size*/
@media screen and (max-width:650px) {
    button {
        font-size: medium;
    }

    img {
        width: 29vw;
        height: 35vh;
    }

    .score-area {
        font-size: medium;
    }

    /*style for screen size*/
    @media screen and (max-width:490px) {

        h1 {
            font-size: 42px;
        }

        button {
            font-size: small;
        }

        .score-area {
            font-size: small;
        }

        img {
            width: 26vw;
            height: 28vh;

            .automatic {
                font-size: large;
            }

            #win {
                font-size: 42pc;
            }
        }